SITE_BASE_URL=http://localhost:8000
SECRET_KEY=change_me_long_random
EMAIL_TOKEN_EXPIRE_HOURS=24

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_STARTTLS=false
SMTP_USER=20211884@edu.hanbat.ac.kr
SMTP_PASS=gtcj kqkf yvdj feks
SMTP_FROM=20211884@edu.hanbat.ac.kr